@tailwind base;
@tailwind components;
@tailwind utilities;

.hero-bg {
  background-color: red;
}
.cta1-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("https://res.cloudinary.com/dam7wdzvx/image/upload/c_scale,w_1000/v1685528296/autokemp/images/ubytovani2_hwzxmu.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.ubytovaniCta-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("https://res.cloudinary.com/dam7wdzvx/image/upload/v1685528296/autokemp/images/ubytovani2_hwzxmu.webp");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.volnycasCta-bg {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4)),
    url("https://res.cloudinary.com/dam7wdzvx/image/upload/v1685524442/autokemp/images/foto1_vprv4e.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#background-video {
  overflow: hidden !important;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1 !important;
}
.fontHero {
  font-family: "bahiana";
}

.ctaHeader {
  font-family: "bahiana" !important;
}
.pageHero {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://res.cloudinary.com/dam7wdzvx/image/upload/v1685524449/autokemp/images/poster_gq3dtq.jpg");
  background-position: center;
  background-size: cover;
}
body {
  font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
}
