@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap");

.hero-bg {
  background-color: red;
}
.night-bg {
  /* background-color: darkblue; */
  background-image: url(night.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#background-video {
  overflow: hidden !important;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1 !important;
}

.ctaHeader {
  font-family: "Libre Baskerville", serif !important;
}
